<section class="vf-grid main-bar">
  <div class="news-container">
    <h4 class="vf-section-header__heading">INsites</h4>
    <div class="insites">
      {% for item in news.items %}
      <hr class="vf-divider">
      <div class="news-image">
        <img src="https://intranet.embl.de/communication_outreach/internal_news/2019/{{ item.image }}">
      </div>
      <div class="news-text">
        <p class="vf-summary__date">{{item.date}}</p>
        <a href="{{ item.url }}" class="vf-summary__link">
          <h5 class="vf-summary__title">{{ item.title }}</h5>
        </a>
        <p class="crop vf-summary__text">{{item.description}}</p>
        </br>
      </div>
      {% endfor %}
      <div class="more-link">
      </div>
    </div>
  </div>
</section>
<hr class="vf-divider">